@font-face { 
font-family: "Amplitude-Book.otf"; 
src: url("fonts/Amplitude-Book.ttf"); 
} 

.tag{

position: fixed;
}

.body{	
border:0px;
margin: 0px;
letter-spacing: 3px;
font-family: "Amplitude-Book"


}


.header{

background: white;
width: 100%;
height: auto;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;

}

.morado{

color: #8258B6;
padding-top: 20px;
padding-bottom: 30px;
font-size:18px;
letter-spacing: 3px;
font-family:"Amplitude-Book"


}

.txt{
padding-top: 20px;
font-size:18px;
letter-spacing: 3px;
font-family: "Amplitude-Book"


}

.uno{

width: 100%;
height: 550px;
background-color: #F4F4F4;


}

.dos{
background-color: #dfecf5;

}

.tres{
background-color:#dfe0f4;

}